.Forecast{
  text-align: center;
}
.icon{
  margin-bottom: 20px;
}
.Forecast .min{
padding-right: 8px;
margin-right:2px;
}
@media (max-width: 960px) {
.Forecast{
  margin-left: 72px;
  padding: 10px;
}
  .icon{
  margin-bottom: 20px;

}
.Thu{
  display: none;
}
}
