.Weather {
  font-family: arial, sans-serif;
  border: 2px solid #bbc3d1;

  margin: 0 auto;
  padding: 20px;
  display: block;
  padding: 16px;
  border-radius: 4px;
  color: rgb(20, 41, 49);
}
.Weather form {
  margin-bottom: 20px;
  text-align: center;
  margin-left: 20px;
}
.Weather input {
  padding: 10px;
}
.Weather h1 {
  font-size: 40px;
  font-weight: 400;
  line-height: 29px;
  margin-left: 10px;
  margin-top: 20px;
}
.Weather .date-condition {
  margin: 0;
  padding: 0;
}
.Weather .temperature {
  font-weight: 500;
  font-size: 50px;
  padding-top: -300px;
  margin-left: 150px;
  line-height: 2;
}

.Weather img {
  height: 50px;
  margin-top: -10px;
}
.Weather .readings {
  margin-left: 120px;
  font-weight: bolder;
}
.Weather li {
  list-style: none;
  font-size: 17px;
  font-weight: 600;
}
