body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url("moss.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
}
.Weather {
  font-family: arial, sans-serif;
  border: 1px solid black;
  background-color: white;
  margin: 0 auto;
  display: block;

  font-family: "Roboto", sans-serif;
  font-weight: 400;

  padding: 16px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: rgb(20, 41, 49);
}
.Weather form {
  margin-bottom: 20px;
  text-align: center;
  margin-left: 20px;
  margin-top: 15px;
}
.Weather .button-submit {
  padding: 12px 15px;
  border: none;
  width: 14%;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px;
  margin-left: 10px;
  color: white;
  background: #27990a;
}
.icon{
  margin-bottom: 20px;
}
.Weather input {
  padding: 10px;
}
.Weather .location {
  font-size: 47px;
  font-weight: 400;
  color: black;
  opacity: 0.8;
  line-height: 29px;
  margin-left: 28px;
  margin-top: 48px;
}
.Weather h4 {
  margin-left: 28px;
  font-size: 20px;
  color: #41b125;
  font-weight: 400;
  opacity: 0.8;
  padding-top: 20px;
}
.Weather p {
  font-size: 18px;
  margin-left: 28px;
  color: #41b125;
  opacity: 0.8;
  font-weight: 400;
}
.Weather .temperature {
  font-weight: 400;
  font-size: 70px;
  padding-top: -290px;
  margin-left: 144px;
  line-height: 2;
  color: black;
  opacity: 0.8;
}
.Weather .unit {
  font-size: 27px;
  margin-left: 230px;
  margin-top: -110px;
  position: absolute;
  color: black;
  opacity: 0.7;
}
.Weather a {
  text-decoration: none;
}
.Weather .readings{
margin-bottom: 20px;
}
.Weather ul {
  margin-top: -90px;
  
}
.Weather .numbers {
  color: #41b125;
  font-weight: 500;
}

.Weather li {
  line-height: 1.5;
  font-weight: 500;
  list-style: none;
  font-size: 17px;
  margin-left: 520px;
  font-weight: 400;
}
