body {
  background-color: rgb(247, 247, 247);
}
.Weather {
  font-family: arial, sans-serif;
  border: 1px solid black;
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 300;

  padding: 16px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: rgb(20, 41, 49);
}
.Weather form {
  margin-bottom: 20px;
  text-align: center;
  margin-left: 20px;
  margin-top: 15px;
}
.Weather .button-submit {
  padding: 12px 15px;
  border: none;
  width: 14%;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px;
  margin-left: 10px;
  color: white;
  background: #24527a;
}
.Weather input {
  padding: 10px;
}
.Weather h1 {
  font-size: 40px;
  font-weight: 400;
  color: black;
  opacity: 0.7;
  line-height: 29px;
  margin-left: 15px;
  margin-top: 20px;
}
.Weather h4 {
  margin-left: 15px;
  font-size: 20px;
  color: #24527a;
  font-weight: 400;
  opacity: 0.8;
  padding-top: 20px;
}
.Weather p {
  font-size: 18px;
  margin-left: 70px;
  color: #24527a;
  opacity: 0.8;
  font-weight: 400;
}
.Weather .temperature {
  font-weight: 400;
  font-size: 70px;
  padding-top: -300px;
  margin-left: 150px;
  line-height: 2;
  color: balck;
  opacity: 0.8;
}
.Weather .unit {
  font-size: 30px;
  padding-top: -40px;
  margin-left: 10px;
  color: balck;
  opacity: 0.7;
}
.Weather img {
  height: 80px;
  margin-top: 30px;
  margin-left: 50px;
}
.Weather .readings {
  margin-left: 120px;
  font-weight: 400;
}
.Weather .numbers {
  color: #24527a;
  font-weight: 300;
}
.Weather li {
  list-style: none;
  font-size: 17px;
  font-weight: 400;
}
